<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>316026830694-jcn63dhcin5httbi92ibivd5mabp9viv.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.316026830694-jcn63dhcin5httbi92ibivd5mabp9viv</string>
	<key>API_KEY</key>
	<string>AIzaSyAb7PIdlSijR3i-iKdks8ojnfIScXfmI-E</string>
	<key>GCM_SENDER_ID</key>
	<string>316026830694</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>Wesley-Yu.Snap-Chat</string>
	<key>PROJECT_ID</key>
	<string>snap-chat-b5402</string>
	<key>STORAGE_BUCKET</key>
	<string>snap-chat-b5402.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:316026830694:ios:f38b01715b519cc8a912a7</string>
</dict>
</plist>